.kolom{
    width: 100%;
    height: 300px;
    background-color: white;
    margin-bottom: 15px;
    border-style: solid ;
    border-color: #dddddd;
    /*border-radius: 10px;*/


}
#microposts {
    margin-bottom: 30px;
}
.feed {
    border: 1px solid #ddd;
    background-color: #FFFFFF;
}
.feed .micropost {
    padding: 20px;
}
 .content {
    margin-left: -15px;
    margin-right: -15px;
}
/*@media (min-width: 1200px)*/
    /*.col-lg-1, .feed .micropost .content .avatar-content {*/
        /*width: 8.33333%;*/
    /*}*/

.kolom1{
    width: 100%;
    height: 300px;
    margin-top: 18px;
    /*background-color: rgba(51, 162, 183, 0.19);*/
    background-color: white;
    margin-bottom: 15px;
    border-color: #0FA6A1;
    border-radius: 10px;


}
.kolom3{
    width: 200px;
    height: 300px;
    margin-top: 18px;
    background-color: white;
    margin-bottom: 15px;
    border-color: #0FA6A1;
    border-radius: 10px;



}
hr.style13 {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
h4.user{
    padding-top: 15px;
    padding-right: 15px;
    font-family: "Times New Roman", Georgia, Serif;
    color: #365899;
    font-weight: bold;
    font-size: 1.17em;
}
h3{
    padding-top: 20px;
    padding-left: 12px;
}
p.user{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 9px;
}
li{
	list-style-type: none;
}


/*.navbar navbar-default navbar-static-top head{*/
    /*background-color: #1b6d85;*/
/*}*/

/*.navbar {*/
    /*border-radius: 0;*/
/*}*/

.navbar-new {
    background-color: #23BAB5;
    border-color: #0FA6A1;
}

.navbar-new .navbar-brand,
.navbar-new .navbar-brand:hover,
.navbar-new .navbar-brand:focus {
    color: #FFF;
}

.navbar-new .navbar-nav > li > a {
    color: #FFF;
}

.navbar-new .navbar-nav > li > a:hover,
.navbar-new .navbar-nav > li > a:focus {
    background-color: #0FA6A1;
}

/*.navbar-new .navbar-nav > .active > a,*/
/*.navbar-new .navbar-nav > .active > a:hover,*/
/*.navbar-new .navbar-nav > .active > a:focus {*/
    /*color: #FFF;*/
    /*background-color: #0FA6A1;*/
/*}*/

.navbar-new .navbar-text {
    color: #FFF;
}

/*.navbar-new .navbar-toggle {*/
    /*border-color: #0FA6A1;*/
/*}*/

/*.navbar-new .navbar-toggle:hover,*/
/*.navbar-new .navbar-toggle:focus {*/
    /*background-color: #0FA6A1;*/
/*}*/


.card-wrap {
    width:400px;
    margin:80px auto;
    background:white;
    position:relative;
    padding:20px;
    border-radius:5px;
    border-top:33.3px solid #0FA6A1;
    font-family: 'Raleway', sans-serif;
}


/*.profile_pic-wrap {*/
    /*width:100px;*/
    /*height:100px;*/
    /*background:#e3e3e3;*/
    /*top:0;*/
    /*left:50%;*/
    /*padding:5px;*/
    /*position:absolute;*/
    /*margin-left: 50px;*/
    /*top: 50px;*/
    /*border-radius:50%;*/
    /*overflow:hidden;*/

img {
    border-radius:50%;
}
}
.user-name {
    text-align:center;
    margin-top:50px;
}
.user-title {
    text-align:center;
}
.find_me-wrap {
    margin-top:40px;
}
.find-me {
    font:.7em;
}
.info-wrap {
    text-align: center;
}
.icon-wrap a {
    line-height:70px;
    width:24%;
    text-decoration:none;
    padding:0;
    font-size:2em;
    cursor:pointer;
    margin:0;
    color:darken(#e3e3e3,20);
    transition:color .1s linear;

&:hover {
     color:darken(#e3e3e3,40);
 }
}
